<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title%></title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
  <header>
    <nav>
      <h1> indecisive and hangry?<br>we help with that</h1>
    </nav>
  </header>

  <div class="container">
  <div class="row">
    <div class="col-6">
      left

    </div>
      <div class="col-6">
      right

      </div>
  </div>
  </div>





