<!DOCTYPE html>
<html>
<head>
	<header>
	<% let page_title = "iHangry Your Poll" %>
  	<% include partials/_header %>
	</header>
</head>
<body>
	<h2><em>About</em></h2>
	<section>
		<p>iHangry is a web application designed for and dedicated to the indecisive moments or people in your life. We want to solve your first world problems, by helping you make decisions using polls and a voting system.  Go ahead! create a poll, send it to your friends, and vote away. </p>
	</section>
	
</body>
</html>