<!DOCTYPE html>
<html>
<head>
	<% include partials/_header %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<header>
	<% let page_title = "iHangry Your Poll" %>
  	<% include partials/_nav %>
	</header>
	<br>
	<br>
	<h2><em>Contact Info:</em></h2>
	<section>
		<ul>
			<li>Email: ihangry@udecide.com</li>
			<li>Phone: 1-800-267-2001</li>
			<li>
				<i class="fa fa-instagram" style="font-size:36px"></i>
				<i class="fa fa-twitter" style="font-size:36px"></i>
				<i class="fa fa-facebook-official" style="font-size:36px"></i>

			</li>
	</section>
	  <% include partials/_footer %>
</body>
</html>