<% include partials/_header %>
<body>
  <% include partials/_nav %>

<section>
<container>
<br>
<br>
Fellow Friends:
<br>
<%for (let i=0; i < names.length; i++) { %>

  <%=names[i].voter_name%><br>

    <%}%>

By popular demand, your feeding will be:
<h1><%=choices[0]['choice_name']%></h1>

<br>
Get your bibs ready.

</section>
</container>
  <% include partials/_footer %>
</body>
</html>
