<!DOCTYPE html>
<html lang="en">

	<head>
		<% let page_title = "iHangry Home Page" %>
		<title><%= page_title%></title>
	</head>
		  <% include partials/_header %>
  <body>
    <header>
    </header>
      <% include partials/_nav %>
    <h4 class="email_msg" style='display: none'>Email has been sent to you!</h4>
		<button class = 'create_poll'>Create Poll:</button>
		<br>
		<br>
		<form class= 'poll_container' style="display: none" id="poll_form">

		<section class="choices_container">
			<input class='creator_email' type="email" placeholder="Enter your email" required>
		<input class='poll_title' type="text" placeholder="Enter Poll title." required>
		<br>

			<section class='choices_box'>
				<input class='choice_title' type="text" required>
				<label>Description</label>
				<textarea class=choice_desc></textarea>
				<button class="del_choice">Delete</button>
			</section>

		</section>


			<button class="add_choice">+</button>
			<button id="submit_poll" class="submit_poll">Submit</button>
		</form>

  <% include partials/_footer %>

	</body>
</html>

