<!DOCTYPE html>
<html lang="en">

	<head>
		<% let page_title = "iHangry Home Page" %>
		<title><%= page_title%></title>
		<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
		<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
		<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
	</head>
	<body>
		<header>
		  <% include partials/_header %>
		</header>

		<button class = 'create_poll'>Create Poll:</button>
		<br>
		<br>
		<form class= 'poll_container' style="display: none" id="poll_form">

		<section class="choices_container">
			<input class='creator_email' type="email" placeholder="Enter your email" required>
		<input class='poll_title' type="text" placeholder="Enter Poll title." required>
		<br>

			<section class = 'choices_box'>
				<input class='choice_title' type="text" required>
				<label>Description</label>
				<textarea class=choice_desc></textarea>
				<button class="del_choice">Delete</button>
			</section>

		</section>


			<button class="add_choice">+</button>
			<button class = 'submit_poll'>Submit</button>
		</form>

		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
        <script type="text/javascript" src="/scripts/create_poll.js"></script>



	</body>
</html>

