<!DOCTYPE html>
<html lang="en">
<header>
  <% let page_title = "iHangry Home Page" %>
  <% include partials/_header %>
</header>
<body>

	<button class = 'create_poll'>Create Poll:</button>
	<br>
	<br>	
	<section class= 'poll_container'>


		 <section class = 'choices_box'>
			<input type="text">
			<button>Description</button>
			<textarea class=description></textarea>
			<button class="del_choice">Delete</button>
		</section> 

		<button class="add_choice">+</button>
		
		

	</section>


</body>
<script type="text/javascript" src="/scripts/create_poll.js"></script>
</html>

