<!DOCTYPE html>
<html lang="en">
<header>
  <% let page_title = "iHangry Your Poll" %>
  <% include partials/_header %>
</header>
<body>
<div>
 <h1> An Email has been sent to you with apropriate links</h1>



<!--    <h2>Vote Here: <a href="/vote/<%=vote_link%>"><%=vote_link%></a></h2>

   <h2>Vote Results:<a href="/results/<%=result_link%>"><%=result_link%></a></h2> -->
   


  <p>
    don't forget to vote yourself!
  </p>
</div>

</body>
