<!DOCTYPE html>
<html lang="en">
<header>
  <% let page_title = "iHangry Results" %>
  <% include partials/_header %>
</header>
<body>

  <section>
    <form method="POST" action="/final_results<%= :id%>" class="winner">
    </form>
  </section>

</body>
