<!DOCTYPE html>
<html lang="en">
<header>
  <% let page_title = "iHangry Vote" %>
  <% include partials/_header %>
</header>
<body>
  <section>
    <form method="POST" action="/vote/submit" class="vote" id="vote_form">
      <input type="text" class="vote" placeholder="your name">
      <container></container>
      <input type="submit" id="vote_form" class="vote" value="vote!">
    </form>


</body>
