<% include partials/_header %>
<body>
  <% include partials/_nav %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1><%=choices[0].poll_title%></h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12">
        <input id="voter_name" name="voter_name" type="text" placeholder="enter your name">
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="dd" id="nestable3">
          <ol class="dd-list">
            <% for (let i of choices) { %>
              <li class="dd-item dd3-item" data-id="<%=i.choice_id%>">
                <div class="dd-handle dd3-handle">Drag</div>
                <div class="dd3-content"><%= i.choice_name%> - <%=i.choice_description%></div>
              </li>
            <% } %>
          </ol>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <button type="button" class="btn on-brand poll-submit">Vote</button>
      </div>
    </div>
  </div>
  <% include partials/_footer %>


  <script type="text/javascript">
    $(document).ready(function(){
      $('.dd').nestable({maxDepth:1});
      $('.poll-submit').click(updateOutput);
    });

    let updateOutput = function() {
      // TODO: add descriptions to data passed to server
      $.post("/vote", {voter_name: $('#voter_name').val(), data: window.JSON.stringify($('.dd').nestable('serialize'))});
    };
  </script>

</body>
</html>
